@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

.navigationDiv{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
  }

.fa, .fab{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
    background: grey;
  }