<header>
  <h1>Welcome to Minesweeper!</h1>
</header>

<body>

    <div [formGroup]="boardFormGroup">
      <div class="inputDiv">
        Columns<br>
        <input type="number" formControlName="BoardWidth" class="inputBox">
      </div>

      <div class="inputDiv">
        Rows<br>
        <input type="number" formControlName="BoardHeight" class="inputBox">
      </div>

      <div class="inputDiv">
        Mines<br>
        <input type="number" formControlName="TotalMines" class="inputBox">
      </div>
    </div>

    <br>
    <button type="button" (click)="validateForm()">New Game</button>

</body>
<app-board *ngIf="showBoard" [boardWidth]="boardWidth" [boardHeight]="boardHeight" [mines]="mines"  [num]="num"></app-board>