<body>
    <hr width="420px">

    <div class="inputDiv">
        Timer<br>
        <input readonly [value]="timerCount" class="inputBox">
    </div>
        
    <div class="inputDiv">
        Flags<br>
        <input readonly [value]="flagCount" class="inputBox">
    </div>

    <div>
        <table class="board">
            <tr *ngFor="let rows of board.rows">
                <td class="button" *ngFor="let tile of rows" (click)="tile.revealTile()" (contextmenu)="tile.flagTile()" >
                        <img *ngIf="!tile.isRevealed && !tile.isFlagged" src="http://luis-perez.s3-us-west-2.amazonaws.com/angularjs-minesweeper-game/covered.png" />
                        <img *ngIf="!tile.isRevealed && tile.isFlagged" src="http://luis-perez.s3-us-west-2.amazonaws.com/angularjs-minesweeper-game/flag-mine.png" />
                        <img *ngIf="tile.isRevealed && !tile.isBomb" src="http://luis-perez.s3-us-west-2.amazonaws.com/angularjs-minesweeper-game/empty.png" />
                        <img *ngIf="tile.isRevealed && tile.isBomb" src="http://luis-perez.s3-us-west-2.amazonaws.com/angularjs-minesweeper-game/mine.png" />
                </td>
            </tr>
        </table>
    </div>
</body>


