*{
    text-align: center;
}

.inputDiv{
    display: inline-block;
    margin: 5px 2px;
}

.inputBox{
    width: 70px;
}

.board{
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 25px;
}

.button{
    padding: 0px;
    
}

