<body>
    <hr width="420px">

    <div class="inputDiv">
        Timer<br>
        <input readonly [value]="timerCount" class="inputBox">
    </div>
        
    <div class="inputDiv">
        Flags<br>
        <input readonly [value]="flagCount" class="inputBox">
    </div>

    <div name="minefield" class="center">

        <table>
            <tr *ngFor="let tile of board">
                <td *ngFor="let tile of board">
                    TEST
                </td>
            </tr>
        </table>
    </div>

</body>


