/* You can add global styles to this file, and also import other style files */
/* Import Jura font */
@import url('https://fonts.googleapis.com/css?family=Jura');

*{
    font-family: 'Jura';
}

.board{
    margin-top: 1px;
    margin-left:auto; 
    margin-right:auto;
}